* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --cor-site: #F2529D;
}


html{
    font-family: sans-serif;
}


.maxWidth{
    max-width: 90em;/*1440px*/
}


.header{
    text-align: center;
    margin: auto;
    background-color: pink;
}


.header_logo{
    width: 5.9em;
    height: 100%;
    margin: 1em;
}


.header_nav{
    background-color: var(--cor-site);
}


ul{
    margin: 0;
}


.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}


.header_nav a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 1em;
}

article .icon_img:hoover{
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}


.header_nav a:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

@media screen and (min-width: 48em){/*768px maior que*/
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .header_logo{
        margin-left: 2em;
    }


    .header_nav{
        background-color: initial;
    }


    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }


    .header_nav li{
        display: inline-block;
    }


    .header_nav a{
        color: var(--cor-site);
        border-radius: 5px;
    }


    .header_nav a:hover{
        background-color: color-mix(in srgb, var(--cor-site), #ffffff 80%);
    }

    .div-video{
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    .video-trailer {
    border-radius: 2px;
    width: 300px;
    }

    .trailer{
        background-image: url(imagens/textura-festiva-com-glitter-brilhante.jpg);
    }

    .trailer_botao{
        display: none;
    }
}


.trailer{
    background-color: #E4F2EB;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}


.trailer div{
    text-align: center;
    margin: auto;
    width: 80%;
}


.trailer_title{
    margin-top: 0;
    padding-top: .5em;
    color: var(--cor-site);
}


.trailer h1{
    font-size: 2em;
    margin-bottom: 1em;
    color: purple;
}



.trailer_paragrafo{
    font-size: 1.1em;
    color: black;
}


.trailer_botao{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}


.trailer_botao:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}


@media screen and (min-width: 48em){/*768px maior que*/


    .trailer{
        background-image: url(imagens/fundo_header.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: initial;
    }


    .trailer_paragrafo{
        margin-bottom: 2em;
    }

    .div-video{
        display: inline-block;
        justify-items: center;
    }

    .video-trailer {
    border-radius: 2px;
    width: 300px;
}

.trailer{
        background-image: url(imagens/textura-festiva-com-glitter-brilhante.jpg);
    }

    .trailer_botao{
        display: none;
    }


}

.main_content{
    background-color: #e1d9d9;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}


.main_content div{
    margin: auto;
    padding: 1em;
    width: 80%;
}


.main_content_title{
    color: var(--cor-site);
}


.icon_img{
    width: 5.5em;
}


.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


.col{
    flex: 1 0 auto;
    /*
    flex-grow = 1
    vai aumentar seu tamanho se houver espaÃ§o


    flex-shrink = 0
    nÃĢo quero que o elemento diminua


    flex-basis = auto
    vai depender do width do prÃģprio elemento
    */
    width: 100%;
}


.col-12{
    width: 100%;
}


@media screen and (min-width: 48em){/*768px maior que*/
    .col-6{
        width: calc(50% - 2rem);
    }

    .div-video{
        display: inline-block;
    }


    .video-trailer {
    border-radius: 2px;
    width: 300px;

}

.trailer{
        background-image: url(imagens/textura-festiva-com-glitter-brilhante.jpg);
    }

    
    
}

footer{
    background-color: #F2529D;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

.div-video {
    display: block;
    border-radius: 2px;
   
    width: 100%px;
    align-items: center;
}

.video-trailer {
    border-radius: 2px;
    width: 100%;
}

